<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="Css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row ">
                <div class="box1">
                    <div class="w100">
                        <h1 class="h1">Edit student data</h1>
                        <form method="post" class="mg" enctype="multipart/form-data">

                            <div class="divmg">
                                <label class="h2">Profile image</label>
                                <div class="center">
                                    <input type="file" name="pname" placeholder="Enter your full name" class="dnone" id="img"/>
                                    <label for="img" class="uploadimg">Profile picture</label>
                                </div>
                            </div>

                            <% if(stu.pname) { %>
                                <img width="30" src="<%= `/uploads/${Students.pname}`%>"/>
                              <% } %>

                            <div class="divmg">
                                <label class="h2">Full name</label>
                                <div class="center">
                                    <input type="text" name="name" placeholder="Enter your full name" class='input' value="<%= Students.name %>"/>
                                </div>
                            </div>
    
                            <div class="divmg">
                                <label class="h2">Age</label>
                                <div class="center">
                                    <input type="text" name="age" placeholder="Enter your age" class='input' value="<%= Students.age %>"/>
                                </div>
                                </div>
    
                                <div class="divmg">
                                <label class="h2">Father's name</label>
                                <div class="center">
                                    <input type="text" name="fname" placeholder="Enter your father's name" class='input' value="<%= Students.fname %>"/>
                                </div>
                                </div>
    
                                <div class="divmg">
                                    <label class="h2">Mother's name</label>
                                    <div class="center">
                                        <input type="text" name="mname" placeholder="Enter your mother's name" value="<%= Students.mname %>" class='input'/>
                                    </div>
                                    </div>
    
                                    <div class="divmg">
                                        <label class="h2">Father's mobile number</label>
                                        <div class="center">
                                            <input type="text" name="fphone" placeholder="Enter your father's mobile number" value="<%= Students.fphone %>" class='input' maxlength="10"/>
                                        </div>
                                        </div>
    
                                        <div class="divmg">
                                            <label class="h2">Gender</label>
                                            <div class="center1">
                                                <input type="radio" name="gender" value="Male" <%= Students.gender ==='Male' ?  'checked' : "" %> /> <span class='input1'>Male</span>
                                                <input type="radio" name="gender" value="Female" <%= Students.gender === 'Female' ?  'checked' : "" %>/> <span class='input1'>Female</span>
                                            </div>
                                            </div>
                           
                            <div class="center">
                                <input type="submit" value="Update" class='btn'/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>