<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row ">
                <div class="box">
                    <div class="w100">
                      
                      <div class="row">
                        <a href="/books/create" class="atag">Form</a>
                      </div>

                        <table>
                          <thead>
                            <tr>
                                <th>No.</th>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Father's name</th>
                                <th>Mother's name</th>
                                <th>Mobile number</th>
                                <th>Gender</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if(data){ let i=1; for(books of data) { %>
                              <tr>
                                <td><%= i %></td>
                                <td>
                                  <% if(books.pname) { %>
                                    <img width="30" src="<%= `/uploads/${books.pname}`%>"/>
                                  <% } %>
                                </td>
                                <td><%= books.name %></td>
                                <td><%= books.age %></td>
                                <td><%= books.fname %></td>
                                <td><%= books.mname %></td>
                                <td><%= books.fphone %></td>
                                <td><%= books.gender %></td>
                                
                                <td><div class="textcenter"><a href="<%= `/books/edit?id=${books.id}` %>"><div class="btnaction"><i class="fa-solid fa-pencil"></i></div></a></div></td>
                                <td><div class="textcenter"><a href="<%= `/books/delete?id=${books.id}` %>"><div class="btnaction"><i class="fa-solid fa-trash-can"></i></div></a></div></td>
                              </tr>
                                <% i++; } } %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>