<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <section>
        <div class="container">
            <div class="row ">
                <% if(serversuccess !== null) { %>
                <p class="fsize"> <%= serversuccess %> </p>
                <% } %>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <form class="mg acenter">
             <input type="text" placeholder="Search by Category" class="inputs acself" name="bookg" value="<%= query.bookg  ? query.bookg : '' %>" />
             <button type="submit" class="btnsearch acself">Search</button>
            </form>
        </div>
    </section>

    <section>
        <div class="container">
            <p class="acself mg10 ptagcolor fsize">Sorting</p>
        <form class="mg acenter">
            <select name="sortatoz" class="select2">
                <option value="">Select</option>
                <option value="1" <%= query.sortatoz === '1' ? 'selected' :'' %> >A to Z</option>
                <option value="-1" <%= query.sortatoz === '-1' ? 'selected' :'' %> >Z to A</option>
            </select>
            <select name="sort" class="select">
                <option value="">Select</option>
                <option value="title" <%= query.sort === 'title' ? 'selected' :'' %> >Title</option>
                <option value="rate" <%= query.sort === 'rate' ? 'selected' :'' %> >Ratings</option>
                <option value="aname" <%= query.sort === 'aname' ? 'selected' :'' %> >Author name</option>
                <option value="date" <%= query.sort === 'date' ? 'selected' :'' %> >date</option>
                <option value="bookg" <%= query.sort === 'bookg' ? 'selected' :'' %> >Category</option>
                <option value="price" <%= query.sort === 'price' ? 'selected' :'' %> >Price</option>
            </select>
            <button type="submit" class="btnsearch acself">Sorting</button>
        </form>
    </div>
    </section>

    <section>
        <div class="container">
            <div class="row ">
                <a href="/books/create" class="atag2">Add new book</a>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row jsbdata">
                <% if(data){ for(books of data) { %>
                <div class="box5 mg2a">
                <div class="w100">
                  <h1 class="h1data"><%= books.title %></h1>
                  <% if(books.pname) { %>
                    <div class="rowdata">
                   <img src="<%= `/uploads/${books.pname}`%>" class="dataimg" alt="img" title="img">
                  </div>
                  <label class="pdata2">Author name</label>
                  <p class="pdata"><%= books.aname %></p>
                  <label class="pdata2">Publish date</label>
                    <% let text = books.date 
                    let array = text.split("-"); 
                    let Array = array.reverse();
                    %>
                  <p class="pdata"><%= Array[0]%>/<%= Array[1]%>/<%= Array[2]%></p>
                  <label class="pdata2">Ratings</label>
                  <p class="pdata"><%= books.rate%></p>
                  <label class="pdata2">Category</label>
                  <p class="pdata"><%= books.bookg%></p>
                  <label class="pdata2">Price</label>
                  <p class="pdata"><%= books.price%>₹</p>
                   <% } %>
                   <div class="divrow">
                    <a href="<%= `/books/edit?id=${books.id}` %>" class="btnaction">Edit</a>
                    <a href="<%= `/books/delete?id=${books.id}` %>" class="btnaction">Delete</a>
                   </div>
                </div>
                </div>
                <% } } %>

            </div>
        </div>
    </section>

    <div class="row jsbdata2">
        <% const strquery = new URLSearchParams(query) %>
        <a class="btnaction2 mgpage" href="/books?page=<%=curruntpage - 1%>"> < </a>
        <% 
        for(let c=1; c <= totalpage;c++){
            strquery.set('page',c)
           %> <a class="btnaction2 mgpage" href="/books?<%= strquery.toString() %>"><%= c %></a> <%
        }
        %>
        <a class="btnaction2 mgpage" href="/books?page=<%=curruntpage + 1%>"> > </a>
    </div>
</body>
</html>